.profile-settings-div-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-settings-div-container div {
    border: 5px solid white;
    display: flex;
    justify-content: space-between;
    width: 25%;
    min-width: fit-content;
    padding: 10px;
    align-items: center;
    background-color: gray;
}

.profile-settings-div-container label {
    font-size: 1.25rem;
    color: white;
}

.profile-settings-div-container p {
    color: white;
}