div.create-comment-container-dark {
  border: 5px solid lightgray;
  margin-top: 10px;
  background-color: darkgray;
}

div.create-comment-container-light {
  border: 5px solid darkgray;
  margin-top: 10px;
  background-color: lightgray;
}
