div.posts-div {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    overflow-y: auto;
}
div.post-div {
    border: 5px solid white;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: 10px 0px;
}

div.post-div label {
    color: white;
    font-size: 1.25rem;
    padding: 5px;
} 

div.test-div-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.posts-details-link {
    text-decoration: none;
    color: white;
}

.posts-details-link:hover {
    color: black;
}