div.create-post-div-dark {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

form.create-post-form-dark {
  border: 5px solid white;
  padding: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

form div {
  display: flex;
  justify-content: space-between;
}

form.create-post-form-dark div label {
  font-size: 1.25rem;
  color: white;
}
