div.profile-div-container-dark {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

div.profile-div-container-light {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

div.profile-details-div-dark {
  border: 5px solid white;
  display: flex;
  justify-content: space-between;
  width: 25%;
  min-width: fit-content;
  padding: 10px;
  align-items: center;
  background-color: gray;
}

div.profile-details-div-light {
  border: 5px solid darkgray;
  display: flex;
  justify-content: space-between;
  width: 25%;
  min-width: fit-content;
  padding: 10px;
  align-items: center;
  background-color: lightgray;
}

label.profile-details-label-dark {
  font-size: 1.25rem;
  color: white;
}

label.profile-details-label-light {
  font-size: 1.25rem;
  color: black;
}

.profile-details-text-dark {
  color: white;
}

.profile-details-text-light {
  color: black;
}

.profile-div-container-dark a {
  font-size: 1.25rem;
  padding: 1%;
  color: white;
  text-decoration: none;
}

.profile-div-container-light a {
  font-size: 1.25rem;
  padding: 1%;
  color: black;
  text-decoration: none;
}

.profile-div-container-dark a:hover {
  color: darkgray;
}

.profile-div-container-light a:hover {
  color: gray;
}