div.edit-comment-div-dark {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

form.edit-comment-form-dark {
  border: 5px solid white;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

form.edit-comment-form-dark div {
  display: flex;
  justify-content: space-between;
}

form.edit-comment-form-dark div label {
  font-size: 1.25rem;
  color: white;
}
