.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.page-not-found-message-dark {
  border: 5px solid white;
  width: 350px;
  text-align: center;
  background-color: gray;
  color: white;
}
