.navbar-dark {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  background-color: #282c34;
}

.navbar-light {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  background-color: white;
}

.navbar-dark a {
  font-size: 1.5rem;
  padding: 1%;
  color: white;
  text-decoration: none;
}

.navbar-light a {
  font-size: 1.5rem;
  padding: 1%;
  color: black;
  text-decoration: none;
}

.navbar-dark a:hover {
  color: darkgray;
}

.navbar-light a:hover {
  color: gray;
}
