.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
}

.navbar a {
  font-size: 1.5rem;
  padding: 1%;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: darkgray;
}
