div.register-div-container-dark {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

div.register-div-container-dark form {
  border: 10px solid white;
  background-color: gray;
}

div.register-field-div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

label.register-form-label-dark {
  font-size: 1.25rem;
  color: white;
}

div.register-form-button-div {
  display: flex;
  justify-content: center;
}

button.register-form-button {
  width: 100%;
}

.register-link-dark {
  color: white;
  text-decoration: none;
}

.register-link-dark:hover {
  color: gray;
}

.register-redirect-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 225px;
}

.register-form-password-info-dark {
  color: white;
  background-color: darkgray;
}

.register-form-input {
  width: 100%;
}

.register-form-confirm-pass-label-dark {
  font-size: 1.25rem;
  color: white;
  width: 258px;
}