.post-comments-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-comments-div-dark {
  display: flex;
  flex-direction: column;
  border: 5px solid lightgray;
  overflow-y: auto;
  max-height: 350px;
  min-width: 300px;
}

.post-comment-div-dark {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  padding-left: 10px;
}

.post-comment-comment {
  width: 300px;
  word-break: break-word;
}

.post-comments-empty-dark {
  align-self: center;
  color: white;
}

.post-comments-count-dark {
  color: white;
  font-weight: bold;
}
