div.login-div-container-dark {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

div.login-div-container-dark form {
  border: 5px solid white;
  background-color: gray;
}

div.login-field-div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

div.login-show-password-div {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
}

label.login-form-label-dark {
  font-size: 1.25rem;
  color: white;
}

div.login-form-button-div {
  display: flex;
  justify-content: center;
}

button.login-form-button {
  width: 100%;
}

.login-link-dark {
  color: white;
  text-decoration: none;
}

.login-link-dark:hover {
  color: gray;
}

.login-redirect-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 225px;
}

input.login-form-input {
  width: 100%;
}
