div.edit-post-div {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form.edit-post-form {
  border: 5px solid white;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

form.edit-post-form div {
  display: flex;
  justify-content: space-between;
}

form.edit-post-form div label {
  font-size: 1.25rem;
  color: white;
}
